body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logoh1 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* Alinea a la izquierda */
}

.logoh1 h1 {
    justify-self: center;
    margin: 0;
}

.menunav {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: black;

}

nav a:hover {
    background-color: rgba(255, 255, 0, 0.661);
}

.imginicio {
    padding-top: 1rem;
    width: 100%;
    height: 600px;
}

@media (max-width: 767px) {
    .imginicio {
        height: 223px;
    }
}

.subtitulo_h2 {
    text-align: center;
    background-color: rgba(255, 255, 0, 0.661);
}

.section_turismoextremo {
    text-align: center;
}

.ejm_turismo {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.ejm_turismo img {
    width: 250px;
    height: 250px;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
}

.misionvision {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.misionvision h2 {
    background-color: rgba(255, 255, 0, 0.661);
}

.imgyh2 {
    text-align: center;
}

.imgyh2 img {
    width: 100%;
}

@media (max-width: 768px) {
    .imgyh2 img {
        max-height: 223px;
    }
}

footer {
    padding-top: 1.5rem;
    text-align: center;
}